html {
    empty-cells: show;
}

h1 {
    text-align: center;
    margin-left: 600px;
    color: darkturquoise;
    font-style: bold;
    font-size: 46;
    text-decoration: underline;
    text-shadow: 5px;
    text-decoration-color: darkturquoise;
}

h2 {
    text-align: left;
    margin-left: 0px;
    font-style: bold;
    font-size: 32;
    float: left;
}

title {
    text-underline-position: below;
    text-shadow: 10px;
}

body {
    width: 811px;
    height: 317px;
    padding-bottom: 10px;
    background-image: url("https://github.com/DevTenoste/MySiteWeb/blob/main/black-contrast-tech-arrows-background-260nw-1194220039.png?raw=true");
    background-size: 1500px;
    background-attachment: fixed;
}

div {
   clear: initial;
}

h2 {
    float: left;
    text-size-adjust: auto;
}

#test {
    float: right;
    width: 455px;
    height: 265px;
}

input {
    background-color: chartreuse;
    size: 50px;
    height: 30px;
    width: 200px;
    padding-top: 3px ; 
    text-decoration-color: coral;
    display: block;
    border: 10px;
    border-radius: 50px;
    cursor: pointer;
    
}

figure {
    margin: 0;
}

#discorduser{
    text-align: center;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    align-self: auto;
    visibility: hidden;
}

#sourcerecentes {
    padding-top: 10px;
}
